<div class="container-header h-100 border-secondary border-bottom p-3 d-flex justify-content-between">
    <h5 class="text-white">{{routeName}}</h5>
    <div class="container-header-actions d-flex justify-content-evenly">
        <button class="container-header-user-photo p-1 d-flex justify-content-center place-items-center border-0 text-white rounded-pill fs-6 fw-light">
            <img src="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQKp5ZsMFTZZrNFb_p2mduiKPipCDh7meawj_zla0mhOHNi_07O3TcMv-q-H-HBvH2G" alt="User Photo" class="h-100 rounded-circle me-1">
            {{this.personData?.nombres}}
        </button>
        <button class="p-1 border-0 rounded-circle header-button">
            <i class="bi bi-chat-dots-fill text-white"></i>
        </button>
        <button class="p-1 border-0 rounded-circle header-button">
            <i class="bi bi-bell-fill text-white"></i>
        </button>
    </div>
</div>