<div class="p-2 d-flex rounded-3 container-card">
    <div class="col-8">
        <h6 class="text-secondary">{{title}}</h6>
        <h5 class="text-white fw-bold">{{amount}}</h5>
        <span class="text-success">5% from the last week</span>
    </div>
    <div class="col-4 d-flex place-items-center justify-content-center">
        <div class="d-flex w-50 h-50 place-items-center justify-content-center rounded-3 {{colorBG}}">
            <span><i class="{{icon}} text-white fs-4"></i></span>
        </div>
    </div>
</div>