<div class="container mw-100 p-0 h-100 vh-100 m-0">
    <div class="row row-cols-lg-2 m-0 h-100 p-0">
        <div class="col-lg-6 col-md-7 col-sm-12 h-100 p-lg-5">
            <div class="h-100 p-lg-5 p-md-1 d-lg-block d-md-flex d-sm-flex d-flex m-lg-0 m-md-auto m-sm-auto">
                <div id="container-form-login" class="h-100 p-lg-5 p-md-3 m-lg-block m-md-auto m-sm-auto m-auto w-lg-100">
                    <div class="h-100 p-lg-4 p-md-5 p-sm-5 w-100">
                        <ul class="nav nav-tabs mt-lg-0 mt-md-5 mb-5">
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold fs-6" [class.active]="activeTab === 'tab1'" (click)="setActiveTab('tab1')">Ingresar</a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold fs-6" [class.active]="activeTab === 'tab2'" (click)="setActiveTab('tab2')">Registrarme</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane" [class.active]="activeTab === 'tab1'" [class.show]="activeTab === 'tab1'" id="tab1">
                                <form [formGroup]="iniciarSesionForm" (ngSubmit)="login()" autocomplete="off">
                                    <div class="mb-3">
                                        <label for="emailLogin" class="form-label text-white">Correo Electrónico</label>
                                        <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" formControlName="correo_electronico">
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordLogin" class="form-label text-white">Contraseña</label>
                                        <input type="password" class="form-control" id="passwordLogin" formControlName="contraseña">
                                    </div>
                                    <div class="d-flex">
                                        <span class="text-white text-center m-auto">{{messageError}}</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 mt-5 p-2 position-relative overflow-hidden" [class.success]="isLoginSuccessful" [class.error]="!isLoginSuccessful">
                                        <span class="icon-button-locked-login d-inline-block"></span>
                                    </button>
                                    <div class="mt-5 d-flex justify-content-center">
                                        <a class="text-decoration-none" routerLink="recuperar-contraseña">¿Has olvidado la contraseña?</a>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" [class.active]="activeTab === 'tab2'" [class.show]="activeTab === 'tab2'" id="tab2">
                                <form [formGroup]="registrarCuentaForm" (ngSubmit)="registrarCuenta()" autocomplete="off">
                                    <div class="mb-3">
                                        <label for="nombreRegistrame" class="form-label text-white">Nombres</label>
                                        <input type="text" class="form-control" id="nombreRegistrame" formControlName="nombreRegistrame">
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellidosRegistrame" class="form-label text-white">Apellidos</label>
                                        <input type="text" class="form-control" id="apellidosRegistrame" formControlName="apellidosRegistrame">
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailRegistrame" class="form-label text-white">Correo Electrónico</label>
                                        <input type="email" class="form-control" id="emailRegistrame" formControlName="emailRegistrame">
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordRegistrame" class="form-label text-white">Contraseña</label>
                                        <input type="password" class="form-control" id="passwordRegistrame" formControlName="passwordRegistrame">
                                    </div>
                                    <div class="d-flex">
                                        <span class="text-white text-center m-auto">{{messageError}}</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 mt-3 p-2">
                                        Crear Cuenta
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-login-photo" class="col-lg-6 col-md-5 d-lg-flex d-md-block d-sm-none d-none h-100 d-flex justify-content-center m-0 p-0">
            <svg id="visual" viewBox="0 0 1400 1200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="w-100 h-100 d-lg-block d-md-none d-sm-none d-none">
                <g fill="#36CFD1">
                    <circle r="275" cx="1007" cy="817"></circle>
                    <circle r="121" cx="19" cy="778"></circle>
                    <circle r="226" cx="884" cy="136"></circle>
                    <circle r="172" cx="142" cy="160"></circle>
                    <circle r="214" cx="504" cy="1072"></circle>
                    <circle r="205" cx="1381" cy="384"></circle>
                </g>
            </svg>
            <img src="../../../../assets/image/photo login.png" class="h-75 position-absolute sticky-bottom d-lg-block d-md-none d-sm-none d-none" style="z-index: 2;">
        </div>
    </div>
</div>