<div class="container mw-100 d-flex p-0 h-100">
    <div class="container-menu-lateral col-lg-3 d-lg-block d-md-none d-sm-none d-none h-100 border-secondary border-end top-0 position-sticky vh-100">
        <app-lateral-menu></app-lateral-menu>
    </div>
    <div class="container-content col-lg-9 col-md-12 col-sm-12 col-12 h-100 d-flex flex-column">
        <div class="top-0 position-sticky container-header">
            <app-header></app-header>
        </div>
        <ng-content></ng-content>
    </div>
</div>