<div class="container mw-100 p-0 h-100 vh-100 m-0">
    <div class="row row-cols-lg-2 m-0 h-100 p-0">
        <div class="col-lg-6 col-md-7 col-sm-12 h-100 p-lg-5">
            <div class="h-100 p-lg-5 p-md-1 d-lg-block d-md-flex d-sm-flex d-flex m-lg-0 m-md-auto m-sm-auto">
                <div id="container-form-login" class="h-100 p-lg-5 p-md-3 m-lg-block m-md-auto m-sm-auto m-auto w-lg-100">
                    <div class="h-100 p-lg-4 p-md-5 p-sm-5 w-100">
                        <div class="mb-5 mt-lg-0 mt-md-5 mt-sm-5 mt-5">
                            <a routerLink="" class="text-decoration-none"><i class="bi bi-arrow-left me-2"></i>Atrás</a>
                        </div>
                        <div class="mb-5">
                            <h5 class="fw-bold mt-lg-0">Recuperar Contraseña</h5>
                        </div>

                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label text-body-secondary">Correo Electrónico</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-5 p-2">
                                <span class="icon-button-login d-inline-block">
                                    <i class="bi bi-send"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-recover-account-photo" class="col-lg-6 col-md-5 d-lg-flex d-md-block d-sm-none d-none h-100 d-flex justify-content-center m-0 p-0">
            <svg id="visual" viewBox="0 0 1400 1200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="w-100 h-100 d-lg-block d-md-none d-sm-none d-none">
                <g fill="#36CFD1">
                    <circle r="275" cx="1007" cy="817"></circle>
                    <circle r="121" cx="19" cy="778"></circle>
                    <circle r="226" cx="884" cy="136"></circle>
                    <circle r="172" cx="142" cy="160"></circle>
                    <circle r="214" cx="504" cy="1072"></circle>
                    <circle r="205" cx="1381" cy="384"></circle>
                </g>
            </svg>
            <img src="../../../../assets/image/photo login.png" class="h-75 position-absolute sticky-bottom d-lg-block d-md-none d-sm-none d-none" style="z-index: 2;">
        </div>
    </div>
</div>