<app-layout>
    <div class="bg-transparent">
        <div class="row row-cols-lg-1 m-0 mt-3 p-3">
            <div class="col-lg-12">
                <form [formGroup]="registrarSpecialidadForm" (ngSubmit)="registrarEspecialidad()" autocomplete="off">
                    <div class="border rounded-3 mb-4 border-secondary container-register-specialty">
                        <h5 id="register-specialty-form_title" class="ps-3 pt-2 pb-2 rounded-top-3 text-uppercase text-white fs-6">Información de la Especialidad</h5>
                        <p class="text-white ms-3">Los campos con (*) son requeridos</p>
                        <div class="row row-cols-lg-3 m-0">
                            <div class="mb-3 mt-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Nombre de la especialidad (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-specialty" aria-describedby="emailHelp" id="nombre" formControlName="nombre">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Descripción de la especialidad (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-specialty" aria-describedby="emailHelp" id="descripcion" formControlName="descripcion">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Costo de consulta (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-specialty" aria-describedby="emailHelp" id="costo" formControlName="costo">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Sede (*)</label>
                                <select class="form-select text-white input-register-user border-secondary" aria-label="Floating label select example" id="sede" formControlName="sede">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Huanuco</option>
                                </select>  
                            </div>
                            <div class="mb-3 mt-3 d-grid">
                                <label for="exampleInputEmail1" class="form-label text-white">Disponibilidad en dias (*)</label>
                                <app-week-day-picker (selectedDaysChange)="handleSelectedDaysChange($event)"></app-week-day-picker>
                            </div>
                            <div class="mb-3 mt-3 d-flex flex-column">
                                <label for="exampleInputEmail1" class="form-label text-white">Disponibilidad en horas (*)</label>
                                <app-hour-range-picker (selectedHoursChange)="handleSelectedHoursChange($event)"></app-hour-range-picker>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Especialidad</button>
                </form>
            </div>
        </div>
    </div>
</app-layout>