<app-layout>
    <div class="bg-transparent">
        <div class="row row-cols-lg-1 m-0 mt-3 p-3">
            <div class="col-lg-12">
                <p class="text-white">Los campos con (*) son requeridos</p>
                <form [formGroup]="registrarUsuarioForm" (ngSubmit)="registrarUsuario()" autocomplete="off">
                    <div class="border rounded-3 mb-4 border-secondary container-register-user">
                        <h5 id="register-user-form_title" class="ps-3 pt-2 pb-2 rounded-top-3 text-uppercase text-white fs-6">Información de Usuario</h5>
                        <div class="row row-cols-lg-3 m-0">
                            <div class="mb-3 mt-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Nombre de Usuario</label>
                                <input id="input-username" type="email" class="form-control text-white border-secondary input-register-user" aria-describedby="emailHelp" value="@UserName" disabled>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exabmpleInputPassword1" class="form-label text-white">Correo Electrónico (*)</label>
                                <input type="email" class="form-control text-white border-secondary input-register-user" id="correo_electronico" name="correo_electronico" formControlName="correo_electronico">
                            </div>
                        </div>
                    </div>
                    <div class="border rounded-3 mb-4 border-secondary container-register-user">
                        <h5 id="register-user-form_title" class="ps-3 pt-2 pb-2 rounded-top-3 text-uppercase text-white fs-6">Información Personal</h5>
                        <div class="row row-cols-lg-3 m-0">
                            <div class="mb-3 mt-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Nombres (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" aria-describedby="emailHelp" id="nombres" formControlName="nombres">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Apellidos (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="apellidos" formControlName="apellidos">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Tipo de documento (*)</label>
                                <select class="form-select text-white input-register-user border-secondary" id="floatingSelect" aria-label="Floating label select example" id="tipo_documento" formControlName="tipo_documento">
                                    <option selected>Seleccionar</option>
                                    <option value="dni">DNI</option>
                                    <option value="pasaporte">Pasaporte</option>
                                    <option value="cedula_identidad">Cédula de identidad</option>
                                </select>  
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Número de documento (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="numero_documento" formControlName="numero_documento">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Nacionalidad (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="nacionalidad" formControlName="nacionalidad">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Fecha de Nacimiento (*)</label>
                                <input type="date" class="form-control text-white border-secondary input-register-user" id="fecha_nacimiento" formControlName="fecha_nacimiento">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Genero (*)</label>
                                <select class="form-select text-white input-register-user border-secondary" id="genero" aria-label="Floating label select example" formControlName="genero">
                                    <option selected>Seleccionar</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>  
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Departamento (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="departamento" formControlName="departamento">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Provincia (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="provincia" formControlName="provincia">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Distrito (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="distrito" formControlName="distrito">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Dirección Completa (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="direccion_completa" formControlName="direccion_completa">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Número de telefono (*)</label>
                                <input type="text" class="form-control text-white border-secondary input-register-user" id="numero_telefono" formControlName="numero_telefono">
                            </div>
                        </div>
                    </div>
                    <div class="border rounded-3 mb-4 border-secondary container-register-user">
                        <h5 id="register-user-form_title" class="ps-3 pt-2 pb-2 rounded-top-3 text-uppercase text-white fs-6">Roles</h5>
                        <div class="row row-cols-lg-3 m-0">
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Rol</label>
                                <select class="form-select text-white input-register-user border-secondary" id="roles" aria-label="Floating label select example" formControlName="roles">
                                    <option selected>Seleccionar</option>
                                    <option value="superadmin">Super Administrador</option>
                                    <option value="admin">Administrador</option>
                                    <option value="especialista">Especialista</option>
                                </select>  
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Sede</label>
                                <select class="form-select text-white input-register-user border-secondary" id="sede" aria-label="Floating label select example" formControlName="sede">
                                    <option selected>Seleccionar</option>
                                    <option value="1">Huanuco</option>
                                </select>  
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Usuario</button>
                </form>
            </div>
            
        </div>
    </div>
</app-layout>